body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #f6f6f6;
    padding: 22px 0;
}

.header-container {
    /*width: 1400px;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 27px 6px;
    margin-right: 64px; /*70-6*/
}

.header-container a:hover {
    background-color: #ffea00;
}

#menu-checkbox {
    display: none;
}

nav {
    margin-top: 20px;
}

ul {
    display: flex;
}